*{
margin: 0;
padding: 0;
}
#navbar{
    background-color: rgb(12, 186, 205);
    padding: 20px;
    
    color: blue;
    
}
a{
    color: rgb(7, 5, 55);
    padding: 40px;
}
marquee{
    font-size: 20px;
}
.detail{
    text-align: center;
    font-size: 28px;
    text-decoration: none;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.detail2{
    text-align: center;
    color: rgb(7, 77, 50);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 15px;

}
